/*!
 * Liv3ly Registration v1.0.0 (http://liv3ly.com)
 * Copyright 2015 Eggsplore Pte Ltd.
 * Author: Winson Hee
 * Please use this set of CSS only for registration page
 */
 

.nav-tabs{font-size: 16px;}
.selectCategory .nav-tabs>li>a{margin-right: 0; border-radius: 0;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{border: 1px solid #0da3e2; border-bottom-color: transparent; border-bottom: 1px; color: #0da3e2;}
.nav-tabs{border-bottom: 1px solid #0da3e2; }
.category-tab{background: #0da3e2;}
.category-tab a{color: #fff; padding: 15px 45px !important; border-bottom: 0px !important;}
.category-tab .fa{font-size: 25px; display: block; margin: auto; text-align: center;}
.creditCard{margin-right: 1px; height: 30px;     padding: 5px;}
.promo-code-wrap{margin-top: 2px;}
.nopadding{padding-left: 0px; padding-right: 0px;}
.noleftpadding{padding-left: 0px; }
.norightpadding{padding-right: 0px; }
.creditcard{width: 70px !important;}
.condition-soldout{color: #d9534f;}
.condition-available{color: #5cb85c;}
.condition-sellingfast{color: #f0ad4e;}
.title-category{color: #0da3e2; font-weight: bold;}
.title-subcategory{}
.title-agelimit{font-style: italic; font-size: 12px;}
.ongoing{border: 1px solid #0da3e2 !important;  text-align: center !important;}
.show-item{display: inline;}
.category-section{margin-bottom: 20px; border-top:  none;}
.promocodesuccess-text{color: #398439;}
.promocodesuccess{color: #398439;}
.show-table{display: table;}
.accordion-group{width: 600px;}
.accordion-inner{background: #eee;}
.accordion-toggle{background: #0da3e2; }
.code-accordion .accordion-heading a{color: #fff;}
.margin-left-5{margin-left: 5px;}
.pre-header{ color: #616b76; border-bottom: 1px solid #eee; padding-top: 10px; line-height: 1.2; font-family: 'Open Sans', sans-serif; font-weight: 300; background: #fff;}
a.accordion-toggle.collapsed{background: #eee; color: #3d3d3d;}
.nav>li>a:focus, .nav>li>a:hover{color:#0da3e2;}
@media screen and (max-width: 1200px) {
	.category-tab a{color: #fff; padding: 15px 14px !important; border-bottom: 0px !important;}

}
@media screen and (max-width: 600px) {
	.price-notAvailable-header{display: none;}
	.price-notAvailable{display: none;}
	.category-tab a{color: #fff;padding: 5px 10px !important; border-bottom: 0px !important; font-size: 12px;}

}
/*
.category-tab a:hover{background: rgba(13,163,226,.3) !important; border: 1px solid #0da3e2 !important;}
.active.category-tab a:hover{background: #fff !important; border: 1px solid #0da3e2 !important;}
*/
.btn-success{color:#fff;background-color:#5cb85c;border-color:#4cae4c}.btn-success.focus,.btn-success:focus{color:#fff;background-color:#449d44;border-color:#255625}.btn-success:hover{color:#fff;background-color:#449d44;border-color:#398439}.btn-success.active,.btn-success:active,.open>.dropdown-toggle.btn-success{color:#fff;background-color:#449d44;border-color:#398439}.btn-success.active.focus,.btn-success.active:focus,.btn-success.active:hover,.btn-success:active.focus,.btn-success:active:focus,.btn-success:active:hover,.open>.dropdown-toggle.btn-success.focus,.open>.dropdown-toggle.btn-success:focus,.open>.dropdown-toggle.btn-success:hover{color:#fff;background-color:#398439;border-color:#255625}.btn-success.active,.btn-success:active,.open>.dropdown-toggle.btn-success{background-image:none}
.category-section{margin-bottom: 30px; overflow: auto;}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #333;
	text-transform: uppercase;
	font-size: 9px;
	width: 25%;
	float: left;
	position: relative;
	text-align: center;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #fff;
	background: #333;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #333;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: #fff;
}
.price-notAvailable{cursor: not-allowed; }
.registrationStep {
    border-radius: 100% !important;
    border: 1px solid #0da3e2;
    padding: 1px 6px;
    font-size: 21px;
    margin-right: 10px;
    color: #0da3e2;
}
.registration-info{background: #eee;padding: 5px 10px; margin: 20px 0 0 0;}
.promocode-wrapper{background: #dff0d8;padding: 5px 10px 20px 10px; ; margin: 20px 0; overflow: auto; border: 1px solid #d6e9c6;}
.promocode-wrapper h4{color: #3c763d;}
.discountoption-title{color: #3c763d;}
.promoTab{border: 1px solid #0da3e2;background: #0da3e2;}
.type-content{border: 1px solid #0da3e2;border-top: none;}
.strip-background{background-color: #0ae;
background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
background-image: -moz-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -o-linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: linear-gradient(rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);}
.angled-135 {
			background-color: #333;
			background-image: -webkit-gradient(linear, 0 0, 100% 100%,
									color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
									color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
									color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
			 						to(transparent));
			background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
		}
.registration-wrap{margin-top: 50px;}
.active.promoTab a {   color: #0da3e2 !important; background: #fff !important; font-size: 12px; }
.promoTab a {   font-size: 12px;  margin-right: 0px !important;}
li.promoTab{margin-top: 0px !important; }
.categoryContainer{margin-top: 20px;}
.categoryContainer th {
    background-color: #0da3e2 !important;
    color: #fff !important;
}
.category-tab.active{border-bottom: #fff;}
.footerSection{margin-top: 50px;background: #f5f5f5;padding: 20px 0 0 0; position: relative;}

.border-wrap{border:1px solid #0da3e2;}
.stickInfo{padding: 15px;position: fixed;right: 0px;top: 50px;background: #333;border-radius: 5px 0 0 5px !important;color: #fff;min-width: 300px;}
.scrollToTop{font-size: 25px;display: none;right: 10px;bottom: 10px;position: fixed;color: #0da3e2;z-index: 9;}
@media screen and (max-width: 1830px) {
	.stickInfo{padding: 20px;  position: relative; right: 0; top: 0; background: #333; border-radius: 5px 5px 5px 5px !important;color: #fff; min-width: 300px;}
	.complete-registration-btn{display: none;}
}
    /* Large Devices, Wide Screens */
@media screen and (max-width: 1900px) {
	.scrollToTop{font-size: 65px;display: none;right: 10px;bottom: 10px;position: fixed;color: #0da3e2;z-index: 9;}	
}
/* Medium Devices, Desktops */
@media screen and (max-width : 992px) {
	.scrollToTop{font-size: 65px;display: none;right: 10px;bottom: 10px;position: fixed;color: #0da3e2;z-index: 9;}
}
/* Small Devices, Tablets */
@media screen and (max-width : 768px) {
	.scrollToTop{font-size: 55px;display: none;right: 10px;bottom: 10px;position: fixed;color: #0da3e2;z-index: 9;}
}
/* Extra Small Devices, Phones */ 
@media screen and (max-width : 480px) {
	.scrollToTop{font-size: 35px;display: none;right: 10px;bottom: 10px;position: fixed;color: #0da3e2;z-index: 9;}
}
/* Custom, iPhone Retina */ 
@media screen and (max-width : 320px) {
    .scrollToTop{font-size: 25px;display: none;right: 10px;bottom: 10px;position: fixed;color: #0da3e2;z-index: 9;}
}
.form-group{overflow: auto;}
li.promoTab a {
    color: #fff;
}
.margin-bottom-40{margin-bottom: 40px;}
.merchant-wrap{   border: 1px solid #0da3e2; overflow: auto; margin-bottom: 20px;border-radius: 5px;background: #fcfcfc; padding-top: 15px;}
.padding-top-15{padding-top: 15px;}
.registercolumn{width: 110px;}
.complete-registration-btn{text-transform: uppercase; font-weight: bold;  margin: auto;}
.checkout-btn{text-transform: uppercase; font-weight: bold;  margin: auto;}
.wrong-input{color: #a94442; background-color: #f2dede; border-color: #ebccd1; padding: 2px 5px; overflow: auto;}
.success-input{color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; padding: 2px 5px; overflow: auto;}
.back-button-wrap{background: #f5f5f5; padding-top: 10px; padding-bottom: 10px; border: 1px solid #f5f5f5; border-top: 0px; margin-top: 25px; overflow: auto;}
.overflow-auto{overflow: auto;}
.whitespace-normal{white-space: normal;}
.summary-checkout{margin: 10px 0;border: 0;border-top: 1px solid #222;border-bottom: 1px solid #444;}
.summary-subtotal{margin: 10px 0 5px 0;border: 0;border-top: 1px solid #222;border-bottom: 1px solid #444;}
.summary-total-text{color: #5cb85c;}
.facebook-btn, .login-btn, .register-account-btn{cursor: pointer;}
.price-notAvailable{background:  #eee !important; color: #ccc;}

.ongoing-last{border-bottom: 2px solid #0DA3E2 !important}
.ongoing{border-left: 2px solid #0DA3E2 !important;border-right: 2px solid #0DA3E2 !important;}
th.ongoing{border-top: 2px solid #0DA3E2 !important; }
.ongoing:last-of-type {
    border-bottom: 2px solid #333 !important;
}
.add-to-cart {

    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}
*, *:before, *:after {box-sizing:  border-box !important;}


.row.mansory {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}

.item.mansory {
 display: inline-block;
 padding:  .25rem;
 width:  100%; 
}

.well.mansory {
 position:relative;
 display: block;
}
.loginSection{max-width: 800px; border: 1px solid #0da3e2;}
.merchan-style{margin-bottom: 0;}

  .row {
      position: relative;
  }

  .bottom-aligned-text {
    position: absolute;
    bottom: 0;
    right: 0;
  }

.summary-title{width: 230px;}
.summary-wrap{margin-bottom: 5px;}
.the-robot{width: 400px; top: 90px; left: 40px;  margin: 0 auto 30px auto !important; display: block;}
.lgn-btn{margin: auto; display: block;}
.why-section{}
.custom-button a{color: #fff !important; font-weight: bold; }
.custom-button {
	margin-bottom: 15px;
	text-transform: uppercase;
	background-color:#3bb3e0;
	font-size:14px;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:10px 20px;
	border:solid 1px #2ab7ec;
	margin-left:35px;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

.custom-button:active {
	top:3px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}

.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; width: 245px;}
.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2) }
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon>:first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}

.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:focus,.btn-facebook.focus{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:hover{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}.btn-facebook:active:hover,.btn-facebook.active:hover,.open>.dropdown-toggle.btn-facebook:hover,.btn-facebook:active:focus,.btn-facebook.active:focus,.open>.dropdown-toggle.btn-facebook:focus,.btn-facebook:active.focus,.btn-facebook.active.focus,.open>.dropdown-toggle.btn-facebook.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled.focus,.btn-facebook[disabled].focus,fieldset[disabled] .btn-facebook.focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}
.btn-google{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google:focus,.btn-google.focus{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
.btn-google:hover{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
.btn-google:active,.btn-google.active,.open>.dropdown-toggle.btn-google{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}.btn-google:active:hover,.btn-google.active:hover,.open>.dropdown-toggle.btn-google:hover,.btn-google:active:focus,.btn-google.active:focus,.open>.dropdown-toggle.btn-google:focus,.btn-google:active.focus,.btn-google.active.focus,.open>.dropdown-toggle.btn-google.focus{color:#fff;background-color:#a32b1c;border-color:rgba(0,0,0,0.2)}
.btn-google:active,.btn-google.active,.open>.dropdown-toggle.btn-google{background-image:none}
.btn-google.disabled,.btn-google[disabled],fieldset[disabled] .btn-google,.btn-google.disabled:hover,.btn-google[disabled]:hover,fieldset[disabled] .btn-google:hover,.btn-google.disabled:focus,.btn-google[disabled]:focus,fieldset[disabled] .btn-google:focus,.btn-google.disabled.focus,.btn-google[disabled].focus,fieldset[disabled] .btn-google.focus,.btn-google.disabled:active,.btn-google[disabled]:active,fieldset[disabled] .btn-google:active,.btn-google.disabled.active,.btn-google[disabled].active,fieldset[disabled] .btn-google.active{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
.btn-google .badge{color:#dd4b39;background-color:#fff}
.inline-block{display: inline-block;}
.padding-bottom-15{padding-bottom: 15px;}
.clear-both{clear: both;}
.margin-bottom-30{margin-bottom: 30px;}
.btn-liv3ly{color:#fff;background-color:#1087dd;border-color:rgba(0,0,0,0.2)}
.btn-liv3ly:focus,.btn-liv3ly.focus{color:#fff;background-color:#0d6aad;border-color:rgba(0,0,0,0.2)}
.btn-liv3ly:hover{color:#fff;background-color:#0d6aad;border-color:rgba(0,0,0,0.2)}
.btn-liv3ly:active,.btn-liv3ly.active,.open>.liv3ly-toggle.btn-liv3ly{color:#fff;background-color:#0d6aad;border-color:rgba(0,0,0,0.2)}.btn-liv3ly:active:hover,.btn-liv3ly.active:hover,.open>.dropdown-toggle.btn-liv3ly:hover,.btn-liv3ly:active:focus,.btn-liv3ly.active:focus,.open>.dropdown-toggle.btn-liv3ly:focus,.btn-liv3ly:active.focus,.btn-liv3ly.active.focus,.open>.dropdown-toggle.btn-liv3ly.focus{color:#fff;background-color:#0a568c;border-color:rgba(0,0,0,0.2)}
.btn-liv3ly:active,.btn-liv3ly.active,.open>.liv3ly-toggle.btn-liv3ly{background-image:none}
.btn-liv3ly.disabled,.btn-liv3ly[disabled],fieldset[disabled] .btn-liv3ly,.btn-liv3ly.disabled:hover,.btn-liv3ly[disabled]:hover,fieldset[disabled] .btn-liv3ly:hover,.btn-liv3ly.disabled:focus,.btn-liv3ly[disabled]:focus,fieldset[disabled] .btn-liv3ly:focus,.btn-liv3ly.disabled.focus,.btn-liv3ly[disabled].focus,fieldset[disabled] .btn-liv3ly.focus,.btn-liv3ly.disabled:active,.btn-liv3ly[disabled]:active,fieldset[disabled] .btn-liv3ly:active,.btn-liv3ly.disabled.active,.btn-liv3ly[disabled].active,fieldset[disabled] .btn-liv3ly.active{background-color:#1087dd;border-color:rgba(0,0,0,0.2)}
.btn-liv3ly .badge{color:#1087dd;background-color:#fff}

.btn-reg-liv3ly{color:#fff;background-color:#205081;border-color:rgba(0,0,0,0.2)}
.btn-reg-liv3ly:focus,.btn-reg-liv3ly.focus{color:#fff;background-color:#206081;border-color:rgba(0,0,0,0.2)}
.btn-bitbucket:focus,.btn-bitbucket.focus{color:#fff;background-color:#163758;border-color:rgba(0,0,0,0.2)}
.btn-reg-liv3ly:hover{color:#fff;background-color:#163758;border-color:rgba(0,0,0,0.2)}
.btn-reg-liv3ly:active,.btn-reg-liv3ly.active,.open>.dropdown-toggle.btn-reg-liv3ly{color:#fff;background-color:#163758;border-color:rgba(0,0,0,0.2)}.btn-reg-liv3ly:active:hover,.btn-reg-liv3ly.active:hover,.open>.dropdown-toggle.btn-reg-liv3ly:hover,.btn-reg-liv3ly:active:focus,.btn-reg-liv3ly.active:focus,.open>.dropdown-toggle.btn-reg-liv3ly:focus,.btn-reg-liv3ly:active.focus,.btn-reg-liv3ly.active.focus,.open>.dropdown-toggle.btn-reg-liv3ly.focus{color:#fff;background-color:#0f253c;border-color:rgba(0,0,0,0.2)}
.btn-reg-liv3ly:active,.btn-reg-liv3ly.active,.open>.dropdown-toggle.btn-reg-liv3ly{background-image:none}
.btn-reg-liv3ly.disabled,.btn-reg-liv3ly[disabled],fieldset[disabled] .btn-reg-liv3ly,.btn-reg-liv3ly.disabled:hover,.btn-reg-liv3ly[disabled]:hover,fieldset[disabled] .btn-reg-liv3ly:hover,.btn-reg-liv3ly.disabled:focus,.btn-reg-liv3ly[disabled]:focus,fieldset[disabled] .btn-reg-liv3ly:focus,.btn-reg-liv3ly.disabled.focus,.btn-reg-liv3ly[disabled].focus,fieldset[disabled] .btn-reg-liv3ly.focus,.btn-reg-liv3ly.disabled:active,.btn-reg-liv3ly[disabled]:active,fieldset[disabled] .btn-reg-liv3ly:active,.btn-reg-liv3ly.disabled.active,.btn-reg-liv3ly[disabled].active,fieldset[disabled] .btn-reg-liv3ly.active{background-color:#205081;border-color:rgba(0,0,0,0.2)}
.btn-reg-liv3ly .badge{color:#205081;background-color:#fff}



.title-event-information{margin-right: 15px; display:inline-block;}
.title-event-information-wrapper{text-align:center;}
.title-event-information .fa{font-size: 18px;}
.password-wrap{margin-bottom: 0;}
#options-container .inline-block{margin-bottom: 10px;}
.terms{margin-bottom: 0;}
.confirmation-section .row{margin-bottom: 10px;}
.margin-auto{margin:auto;}
.payment-btn{margin-bottom: 10px;}
.promocode-content{margin-top: 10px; padding: 5px;}
.uat-module{position: fixed; z-index: 9; background: rgba(0,0,0,.93); height: 100%; width: 100%; top: 0; left: 0;}
.uat-wrapper{width: 600px; left:50%; top: 50%; margin: -300px 0 0 -300px; position: absolute; padding: 10px; background: #fff;}

@media screen and (max-width: 600px) {
.uat-wrapper{width: 300px; left:50%; top: 50%; margin: -100px 0 0 -150px; position: absolute; padding: 10px; background: #fff;}
}
.discountoption{float: left; padding-right:5px;}
.discountoption-title{font-weight: bold;}
.promocode-wrapper h4, .registration-info h4{font-weight: bold;}
.promocodesection .btn{white-space: normal;}
.glyphicon-info-sign{margin-right: 5px;}
.before-discount-price{text-decoration: line-through;}
.discounted-price{}
.price-notAvailable .condition-soldout{display: none;}
.margin-botton-0, .margin-bottom-0{margin-bottom: 0;}
.margin-bottom-15{margin-bottom: 15px;}
label span{font-size: 11px; font-weight: normal; margin-left: 5px;}
.price-notAvailable-header, .ongoing{width: 20%;}
.merchant-wrap h4, .merchant-wrap h5{font-weight: bold;}
.confirminformationSection h4{font-weight: bold; color: #0da3e2;}
.stickInfo h4{font-weight: bold;color: #fff;margin-top: 0;}
.confirmTandC{font-weight: bold; margin-top: 0; font-size:14px; }
.confirmation-section div {    margin-bottom: 10px; }
.compulsory-Asterisk{color: #a94442;}
.alert-heading{font-weight: bold;}
.warning-header{color: #8a6d3b; border-bottom: 2px solid #8a6d3b;}

.danger-header{color: #a94442; border-bottom: 2px solid #a94442;}
.success-header{color: #3c763d; border-bottom: 2px solid #3c763d;}
.info-header{color: #31708f; border-bottom: 2px solid #31708f;}
.img-center{margin: auto; display: block;}
.sizechartstyle{width: 600px; display: none;}
.display-block{display: block !important;}
.summary-container{color:#0da3e2; font-weight: bold; margin-bottom: 5px;}
.delete-button{color:#0da3e2; font-size: 15px; margin-right: 5px;}
.summarytotal{font-size: 15px; color:#5cb85c;}
